* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}
.intro-section {
    text-align: center;
    margin-top: 30px;
    
  }
  
  .intro-section h1 {
    font-size: 48px;
    color: #FF6347; 
  }
  
  .intro-section p {
    font-size: 18px;
    color: #333;
  }
.container{
    display: flex;
    width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.aboutme{
    font-size: 30px;
    text-align: center;
}
/* Left Section Styling */
.left-section {
    width: 40%;
    background-color: #FF6347;
    color: white;
    padding: 30px;
}

.left-section h3 {
    font-size: 18px; 
    font-weight: bold; 
    margin-top: 20px; 
}

.left-section p {
    font-size: 16px; 
    margin-bottom: 20px; 
}

.left-section a {
    color: #FFD700; 
    text-decoration: none; 
}

.left-section a:hover {
    text-decoration: underline; 
}



/* Right Section Styling */
.right-section {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: 470px !important;
    height: 470px !important;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
}

.stat {
    text-align: center;
    flex: 1 1 200px; 
    margin: 10px;
}

.stat h2 {
    font-size: 36px;
    color: #FF6347;
    margin-bottom: 5px;
}

.stat p {
    font-size: 14px;
    color: #555;
}

.download-btn {
    background-color: #FF6347; 
    color: white;
    padding: 12px 24px; 
    border: none;
    font-size: 16px;
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    border-radius: 5px; 
    display: inline-block;
    text-align: center; 
    transition: background-color 0.3s, transform 0.3s; 
    text-decoration: none; 
}

.download-btn a {
    color: white;
    text-decoration: none; 
    display: block;
    height: 100%; 
}

.download-btn:hover {
    background-color: #E5533C; 
    transform: scale(1.05); 
}



@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
      align-items: center;
    }
    .left-section {
        width: 83%;
        background-color: #FF6347;
        color: white;
        padding: 30px;
    }
    .profile-picture img {
        width: 370px !important;
        height: 370px !important;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 20px;
    }
  
    .left-container, .right-container {
      width: 100%;
      margin-bottom: 20px;
      height: 30px;
      padding: none;
    }
  
    .stats-container {
      flex-direction: column;
      align-items: center;
    }
  
    .stat {
      margin-bottom: 20px;
    }
  }